@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  background: #F6F4F3;
  color: #2E3236;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: .875em;
  font-weight: 400;
  padding: 100px 0 0;
}

#logo {
  margin: 0 auto 35px;
  display: block;
  text-align: center;
}

p{
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 1.117em;
}

form {
  box-sizing: border-box;
  background: #fff;
  margin: 0px auto;
  text-align: center;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.form-item {
  text-align: left;
  margin: 20px auto;
}

.form-item-username{
  margin-top: 40px
}

label {
  width: 100px;
  display: inline-block;
  font-weight: 600;
  text-align: right;
  margin: 0 5px 0 0;
}

.form-required{
  display: none;
}

.form-text{
  font-size: 1.117em;
  padding: 8px 5px;
  box-sizing: border-box;
  width: 210px;
}

.form-text:focus{
  border-color: #57b0ea;
  outline: 0;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.form-submit {
  background: #2E3236;
  border: none;
  color: #dcdcdc;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
  margin: 25px 0 0;
  padding: 0 20px;
  line-height: 30px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.form-submit:hover {
  opacity: .7;
}

.messages{
  text-align: center;
  margin: 0 0 35px;
  font-weight: 600;
  font-size: 1.142em;
  width: 90%;
}

.error{
  color: #af5d52;
}

.messages ul{
  margin: 0;
  padding: 0;
}

.message-item{
  list-style-type: none;
  margin: 0 0 5px;
  padding: 0;
}

.messages h2{
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 15px;
}

.form-text.error{
  border: 1px solid #af5d52;
  box-shadow: inset 0px 1px 1px rgba(175, 93, 82, .73), 0px 0px 8px rgba(175, 93, 82, .8);
}

.element-invisible {
  display: none;
}

.footer{
  position: fixed;
  bottom: 10px;
  width: 100%;
  font-size: 12px;
}

.footer ul{
  margin: 0;
  padding: 0;
}

.footer ul li{
  float: left;
  list-style-type: none;
  text-align: center;
  width: 50%;
}

.footer a{
  color: #584B53;
  text-decoration: none;
}

@media screen and (max-width: 443px){
  body{
    padding: 20px 0 0;
    margin: 0;
  }

  form{
    border-radius: 0;
    width: 100%;
  }

  label{
    display: block;
    text-align: left;
    margin: 0 0 5px;
    width: auto;
  }

  .form-text{
    width: 100%;
  }

  .form-item-username{
    margin-top: 30px;
  }
}
